p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    height: 100%;
}

.Page {
    background-color: #2B2A33;
}

.Page-content {
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0, 0 0 0;
}

.Header-title {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.Preview-window {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 480px;
    padding-left: 16px;
    padding-right: 16px;
}

.Step-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Input-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    height: 480px;
}

.Input-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Overlay-container {
    display: flex;
    gap: 2em;
    width: 100%;
}

.Overlay-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    margin-left: 3em;
    width: 100%;
    height: auto;
}

.Overlay-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3em;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.Overlay-control-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.Overlay-control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    padding-left: 12px;
    padding-right: 12px;
}

.SVG-overlay {
    position: absolute;
    left: 50%;
    top: 50.25%;
    transform: translate(-50%,-50%);
    width: 100%;
}